* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  padding-top: 25px;
  background-image: url(./images/background.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

button {
  align-items: center;
  background-color: initial;
  background-image: linear-gradient(
    rgba(179, 132, 201, 0.84),
    rgba(57, 31, 91, 0.84) 50%
  );
  border-radius: 42px;
  border-width: 0;
  box-shadow: rgba(57, 31, 91, 0.24) 0 2px 2px,
    rgba(179, 132, 201, 0.4) 0 8px 12px;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  font-size: 18px;
  font-weight: 700;
  justify-content: center;
  letter-spacing: 0.04em;
  line-height: 16px;
  margin: 0;
  padding: 18px 18px;
  text-align: center;
  text-decoration: none;
  text-shadow: rgba(255, 255, 255, 0.4) 0 0 4px,
    rgba(255, 255, 255, 0.2) 0 0 12px, rgba(57, 31, 91, 0.6) 1px 1px 4px,
    rgba(57, 31, 91, 0.32) 4px 4px 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
}

button:hover {
  background-image: linear-gradient(#b384c9, #391f5b 50%);
}

.hidden {
  display: none;
}

.search-container {
  width: 500px;
  background-color: #b384c9;
  opacity: 80%;
  border-radius: 42px;
  margin: auto;
  -webkit-box-shadow: 11px 11px 17px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 11px 11px 17px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 11px 11px 17px -6px rgba(0, 0, 0, 0.75);
  margin-bottom: 50px;
}

.search-form {
  display: flex;
  gap: 20px;
  padding: 18px 18px;
}

.input-field {
  width: 350px;
  font-size: 18px;
  border-radius: 42px;
  border-style: none;
  -webkit-box-shadow: inset -4px 3px 17px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset -4px 3px 17px -6px rgba(0, 0, 0, 0.75);
  box-shadow: inset -4px 3px 17px -6px rgba(0, 0, 0, 0.75);
  padding: 15px;
}

.gallery {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
  margin-bottom: 25px;
}

.photo-card {
  width: 400px;
  height: 400px;
  -webkit-box-shadow: 11px 11px 17px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 11px 11px 17px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 11px 11px 17px -6px rgba(0, 0, 0, 0.75);
  background-color: rgb(251, 251, 251, 0.5);
}

.gallery__item {
  width: 400px;
  height: 350px;
  overflow: hidden;
}

.gallery__image {
  width: 400px;
  height: 300px;
  object-fit: cover;
}

.info {
  display: flex;
  gap: 5px;
  padding: 15px;
}

.button-wrapper {
  padding: auto;
}

.load-more {
  margin: auto;
}
